.radios {
    display: flex;
    font-size: 17px;
}

@media (max-width: 640px) {
    .radios {
        flex-direction: column;
    }
}

.radio input {
    pointer-events: none;
    visibility: hidden;
}

.radio input:focus+label {
    background: #eeeeff;
}

.radio input:focus+label .checker {
    border-color: #6666ff;
}

.radio input:checked+label .checker {
    box-shadow: inset 0 0 0 6px #3371FF;
}

.radio label {
    display: flex;
    align-items: center;
    height: 28px;
    border-radius: 14px;
    padding: 0 8px 0 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.radio label:hover {
    background: #eeeeff;
}

.radio label:hover .checker {
    box-shadow: inset 0 0 0 2px #3371FF;
}

.radio .checker {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: inset 0 0 0 2px #ccc;
    transition: box-shadow 0.3s ease;
}

.PdfDispositivos {
    text-align: center;
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid;
    position: fixed;
    bottom: 0;
    width: 2%;
    height: 60px;
    right: 30px;
    transition: .5s;
}

.PdfDispositivos:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0px -1px 5px #000000;
    border-radius: 7px;
}

#modal {
    color: #ffffff;
    padding: 2% 5% 2% 20%;
    background: #1e2229;
    position: fixed;
    top: -100vh;
    height: 100vh;
    width: 100vw;
    right: 0;
    transition: all .5s;
    overflow: auto;
}

#mostrar-modal {
    display: none;
}

#mostrar-modal+label {
    background: #3a3f48;
    display: table;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

#mostrar-modal:checked~#modal {
    top: 0;
}

#mostrar-modal:checked~#cerrar-modal+label {
    display: block;
}

#cerrar-modal {
    display: none;
}

#cerrar-modal+label {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: rgb(255, 0, 0);
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 4%;
    display: none;
    transition: all .5s;
}

#cerrar-modal:checked~#modal {
    top: -100vh;
}

#cerrar-modal:checked+label {
    display: none;
}


/* -----------------------------------------
    =CSS3 Loading animations
  -------------------------------------------- */


/* =Elements style
  ---------------------- */

.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #0E39C6;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}


/* =Animate the stuff
  ------------------------ */

.load-7 .square {
    animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loadingG {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(70px, 0) rotate(360deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.card-footer {
    background-color: white !important;
}