#containment-wrapper {
    margin-top: 5px;
    margin-bottom: 50px;
    width: 100%;
    min-height: 250px;
    height: auto;
    overflow: auto;
    border: 2px dashed #ccc;
    padding: 2px;
}


/* Cajas activas */

.draggable {
    border: 1px solid #9292923b;
    background-color: #fff;
    box-shadow: 2px 4px 14px rgba(143, 142, 142, 0.377);
    padding: 10px;
    margin: 0 10px 10px 0;
    cursor: move;
    max-height: 75px;
    width: 200px;
}


/* Cajas back up  */

.draggableBP {
    border: 1px solid #9292923b;
    background-color: #fff;
    box-shadow: 2px 4px 14px rgba(143, 142, 142, 0.377);
    padding: 10px;
    margin: 0 10px 10px 0;
    cursor: move;
    width: 200px;
    max-height: 75px;
}


/* cajas reservadas */

.draggableACT {
    border: 1px solid #9292923b;
    background-color: #fff;
    box-shadow: 2px 4px 14px rgba(143, 142, 142, 0.377);
    padding: 10px;
    margin: 0 10px 10px 0;
    cursor: move;
    width: 200px;
    max-height: 75px;
}


/* CAJAS ACTIVAS NO COLOCADA */

.droppable {
    border: 2px dashed #a80404;
    width: 450px;
    height: 150px;
    padding: 10px;
}


/* CAJAS ACTIVAS COLOCADA */

.droppablex p {
    border: 2px dashed #22ee22;
    box-shadow: 2px 4px 14px rgba(143, 142, 142, 0.377);
    width: 450px;
    height: 150px;
    padding: 10px;
    text-align: left;
}


/* CAJA BACK UP NO COLOCADA */

.droppableBP {
    margin-top: 20px;
    border: 2px dashed #a80404;
    width: 450px;
    height: 150px;
    padding: 10px;
}


/*  CAJAS BACK UP COLOCADA */

.droppablexBP p {
    margin-top: 20px;
    border: 2px dashed #22ee22;
    box-shadow: 2px 4px 14px rgba(143, 142, 142, 0.377);
    width: 450px;
    height: 150px;
    padding: 10px;
    text-align: left;
}


/* CAJA BACK UP NO COLOCADA */

.droppableACT {
    border: 2px dashed #a80404;
    padding: 10px;
    width: 450px;
    height: 150px;
    text-align: left;
}

.PdfDispositivos {
    text-align: center;
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid;
    position: fixed;
    bottom: 0;
    width: 2%;
    height: 60px;
    right: 30px;
    transition: .5s;
}

.PdfDispositivos:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0px -1px 5px #000000;
    border-radius: 7px;
}

#modal {
    color: #ffffff;
    padding: 2% 5% 2% 20%;
    background: #1e2229;
    position: fixed;
    top: -100vh;
    height: 100vh;
    width: 100vw;
    right: 0;
    transition: all .5s;
    overflow: auto;
}

#mostrar-modal {
    display: none;
}

#mostrar-modal+label {
    background: #3a3f48;
    display: table;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

#mostrar-modal:checked~#modal {
    top: 0;
}

#mostrar-modal:checked~#cerrar-modal+label {
    display: block;
}

#cerrar-modal {
    display: none;
}

#cerrar-modal+label {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: rgb(255, 0, 0);
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 4%;
    display: none;
    transition: all .5s;
}

#cerrar-modal:checked~#modal {
    top: -100vh;
}

#cerrar-modal:checked+label {
    display: none;
}


/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */


/* =Elements style
---------------------- */

.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #0E39C6;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}


/* =Animate the stuff
------------------------ */

.load-7 .square {
    animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loadingG {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(70px, 0) rotate(360deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555;
    width: 100%;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
    color: #888888;
    border-color: #888888;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file+.js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
}

.input-file+.js-labelFile .icon:before {
    content: "\f093";
}

.input-file+.js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B;
}

#img {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
    width: 100%;
}

#img:hover {
    z-index: 100;
    transform: scale(2.3);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}