/* Tabbed Styles */

.tabbed {
  width: auto;
  min-width: 400px;
  margin: 0 auto;
  margin-bottom: 68px;
  border-bottom: 4px solid #000;
  overflow: hidden;
  transition: border 250ms ease;
  margin-top:-3.5%;
}

.tabbed ul li {
  display: block;
  float: right;
  padding: 10px 24px 8px;
  background-color: #FFF;
  margin-right: 46px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  color: #777;
  text-transform: uppercase;
  font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;

  transition: all 250ms ease;
}
.tabbed ul li:before,
.tabbed ul li:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 44px;  
  background-color: #FFF;
  transition: all 250ms ease;
}
.tabbed ul li:before {
  right: -24px;
  transform: skew(30deg, 0deg);
  box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
}
.tabbed ul li:after {
  left: -24px;
  transform: skew(-30deg, 0deg);
  box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
}
.tabbed ul li:hover,
.tabbed ul li:hover:before,
.tabbed ul li:hover:after {
  background-color: #F4F7F9;
  color: #444;
}
.tabbed ul li.active {
  z-index: 3;
}
.tabbed ul li.active,
.tabbed ul li.active:before,
.tabbed ul li.active:after {
  background-color: #000;
  color: #fff;
}

.AutorizacionesMH  {

  background:#EDEDED;  
  width:95%; 
  float: left; 
  margin-bottom:50px; 
  margin-right:25px; 
  margin-left:25px;
  position: relative;
  border-radius: 10px;

}
.AutorizacionesMH .form-mh{
position: relative;
background:rgb(255, 255, 255);
border-radius: 15px;
height: 50%;
width: 35%;
margin: 10px;
padding: 10px;


}

.ConsultarMH{
  background:#EDEDED;  
  width:95%; 
  float: left; 
  margin-bottom:50px; 
  margin-right:25px; 
  margin-left:25px;
  position: relative;
  border-radius: 10px;
}

.BajaMH{
  background:#EDEDED;  
  width:95%; 
  float: left; 
  margin-bottom:50px; 
  margin-right:25px; 
  margin-left:25px;
  position: relative;
  border-radius: 10px;

}


  #containment-wrapper {
    
     margin:2%;
     width: 95%; 
     min-height:250px; 
     height: auto;
     overflow: auto;
     border:2px solid #ccc; 
     padding: 10px; 
     background-color:whitesmoke;
     
     
    }
    .draggable{
      border: 1px #000 solid;
      box-shadow: 4px 2px rgb(0, 0, 0);
      background: linear-gradient(to bottom right,rgb(0, 0, 0) 1px, rgb(92, 251, 0)  ,rgb(0, 0, 0));
      float:left;
      width: 30%;
      height: 50px;
      padding: 0.5em;
      text-align: center;
      margin: 0 10px 10px 0;
      border-radius: 10px;
      cursor: move;
      
     
     
     }
   
     
   .draggableBP {
    border: 1px solid;
    box-shadow: 4px 2px rgb(0, 0, 0);
     float: right;
     width: 30%;
     height: 50px;
     padding: 0.5em;
     text-align: center;
     margin: 0 10px 10px 0;
     background: linear-gradient(to bottom left,rgb(0, 0, 0) 1px, rgb(25, 0, 251)  ,rgb(0, 0, 0));
     border-radius: 10px;
     cursor: move; 
      }

      .draggableACT {
        border: 1px solid;
        box-shadow: 4px 2px rgb(0, 0, 0);
         float: right;
         width: 30%;
         height: 50px;
         padding: 0.5em;
         text-align: center;
         margin: 0 10px 10px 0;
         background: linear-gradient(to bottom left,rgb(0, 0, 0) 1px, rgb(25, 0, 251)  ,rgb(0, 0, 0));
         border-radius: 10px;
         cursor: move; 
          }
   
/* CAJAS ACTIVAS NO COLOCADA */
  .droppable{
  
    
    border-style: dashed;
    text-align: left;
    margin-bottom: 3%;
    background: linear-gradient(to bottom left,rgb(251, 255, 0) 20%, #fff 100%);
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 10px;

   
  }



/* CAJAS ACTIVAS COLOCADA */
  .droppablex p{ 
   
    
    border-style: dashed;
    text-align: left;
    margin-bottom: 3%;
    background: linear-gradient(to bottom left,teal 20%, #fff 100%);
    /* background-color: teal; */
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    color: white;
  }



    /* CAJA BACK UP NO COLOCADA */
    .droppableBP{
      background: linear-gradient(to bottom left,rgb(251, 255, 0) 20%, #fff 100%);
      border-style: dashed;
      padding: 10px;
      
      width: 100%;
      height: 200px;
      border-radius: 10px;
      text-align: left;
    }

  /*  CAJAS BACK UP COLOCADA */
  .droppablexBP p{
   
    border-style: dashed;
       background: linear-gradient(to bottom left,teal 20%, #fff 100%);
    width: 100%;
    padding: 10px;
    text-align: left;
    height: 200px;
    border-radius: 10px;
    color: white;
  }

    /* CAJA BACK UP NO COLOCADA */
    .droppableACT{
      background: linear-gradient(to bottom left,rgb(251, 255, 0) 20%, #fff 100%);
      border-style: dashed;
      padding: 10px;
      
      width: 100%;
      height: 200px;
      border-radius: 10px;
      text-align: left;
    }

/*ANIMACION DE BOTONES*/
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	/* font-family: 'Pacifico', cursive; */
	font-size: 20px;
	color: #FFF;
  text-decoration: none;	
 
}

.blue
{
	background-color: #128ada;
	border-bottom: 5px solid #02609e;
	text-shadow: 0px -2px #02609e;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #72f117;
	border-bottom: 5px solid rgb(85, 182, 16);
	text-shadow: 0px -2px rgb(85, 182, 16);
}

.yellow
{
  
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}



.cr {
  width: 200px;
  padding: 16px;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
}

.cr-sticky {
  position: fixed;
}

/* Positions */

.cr-top    { top: 25px; }
.cr-bottom { bottom: 25px; }
.cr-left   { left: -50px; }
.cr-right  { right: -50px; }

/* Rotations */

.cr-top.cr-left,
.cr-bottom.cr-right {
  transform: rotate(-45deg);
}

.cr-top.cr-right,
.cr-bottom.cr-left {
  transform: rotate(45deg);
}

/* Colors */

.cr-white     { background-color: #f0f0f0; color: #444; }
.cr-black     { background-color: #333; }
.cr-grey      { background-color: #999; }
.cr-blue      { background-color: #39d; }
.cr-green     { background-color: #2c7; }
.cr-turquoise { background-color: #1b9; }
.cr-purple    { background-color: #95b; }
.cr-red       { background-color: #e43; }
.cr-orange    { background-color: #e82; }
.cr-yellow    { background-color: #ec0; }


