*{
    padding: 0;
    font-family: 'Roboto', 'serif';
}
.content{

    width: 100%;
    min-width: 400px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.cont-form{
    /* background-color: #c6c6c6; */
    width: 50%;
    min-width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
 
}
.form{
    -webkit-box-shadow: 10px 14px 45px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 14px 45px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 14px 45px -5px rgba(0,0,0,0.75);

    border-radius: 5px;
    background-color:#ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 70%;
    min-width: 300px;

    
}