.PdfDispositivos {
    text-align: center;
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid;
    position: fixed;
    bottom: 0;
    width: 2%;
    height: 60px;
    right: 30px;
    transition: .5s;
}

.PdfDispositivos:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0px -1px 5px #000000;
    border-radius: 7px;
}

#modal {
    color: #ffffff;
    padding: 2% 5% 2% 20%;
    background: #1e2229;
    position: fixed;
    top: -100vh;
    height: 100vh;
    width: 100vw;
    right: 0;
    transition: all .5s;
    overflow: auto;
}

#mostrar-modal {
    display: none;
}

#mostrar-modal+label {
    background: #3a3f48;
    display: table;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

#mostrar-modal:checked~#modal {
    top: 0;
}

#mostrar-modal:checked~#cerrar-modal+label {
    display: block;
}

#cerrar-modal {
    display: none;
}

#cerrar-modal+label {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: rgb(255, 0, 0);
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 4%;
    display: none;
    transition: all .5s;
}

#cerrar-modal:checked~#modal {
    top: -100vh;
}

#cerrar-modal:checked+label {
    display: none;
}

.inputsucces {
    border-collapse: collapse;
    box-shadow: 0px 0px 8px rgb(0, 253, 21);
}

.inputalert {
    border-collapse: collapse;
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
}

.cntr {
    margin: auto;
}

.btn-radio {
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
}

.btn-radio:not(:first-child) {
    margin-left: 20px;
}

@media screen and (max-width: 480px) {
    .btn-radio {
        display: block;
        float: none;
    }
    .btn-radio:not(:first-child) {
        margin-left: 0;
        margin-top: 15px;
    }
}

.btn-radio svg {
    fill: none;
    vertical-align: middle;
}

.btn-radio svg circle {
    stroke-width: 2;
    stroke: #C8CCD4;
}

.btn-radio svg path {
    stroke: #008FFF;
}

.btn-radio svg path.inner {
    stroke-width: 6;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
}

.btn-radio svg path.outer {
    stroke-width: 2;
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
}

.btn-radio input {
    display: none;
}

.btn-radio input:checked+svg path {
    transition: all 0.4s ease;
}

.btn-radio input:checked+svg path.inner {
    stroke-dashoffset: 38;
    transition-delay: 0.3s;
}

.btn-radio input:checked+svg path.outer {
    stroke-dashoffset: 0;
}

.btn-radio span {
    display: inline-block;
    vertical-align: middle;
}


/* -----------------------------------------
    =CSS3 Loading animations
  -------------------------------------------- */


/* =Elements style
  ---------------------- */

.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #0E39C6;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}


/* =Animate the stuff
  ------------------------ */

.load-7 .square {
    animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loadingG {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(70px, 0) rotate(360deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}