body {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 75px;
    min-width: 300px;
    background: -webkit-linear-gradient(left, #290149, #58009F);
    background: -o-linear-gradient(left, #410404 #410404);
    background: -moz-linear-gradient(left, #410404, #410404);
    background: linear-gradient(left, #410404, #410404);
    color: white;
    font-family: Roboto, serif;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    min-width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    background-color: #58009F !important;
    border-color: #290149 !important;
}

.btn-info:hover {
    background-color: #290149 !important;
    border-color: #290149 !important;
}

.sub-menu {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 100% 0 0 0 / 100% 0 0px 0px !important;
    font-size: 22px;
    color: white;
    border-style: none !important;
    z-index: 100;
}

.sub-menu:hover {
    width: 100px;
    height: 100px;
    color: #ffffff;
}